@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/util.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />
<div class="page-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3">
                <h2 class="title-section">Ucz się z nami!</h2>
                <div class="divider"></div>

                <p>Jesteśmy zespołem, który chce ułatwić naukę ze wszystkich dziedzin poprzez fiszki!</p>
                <p>Dzięki tej stronie możesz tworzyć własne fiszki i dzielić je na kategorie. Dostępne jest edytowanie, usuwanie lub odhaczanie nauczonych juz fiszek</p>
                <p>Będzimy bardzo szczęśliwi jeżeli do nas dołączysz i ucząc się, pomożesz nam ulepszyć strone, dzięki twojej opinii. Liczymy na to, że już wkrótce się zarejestrujesz!</p>
            </div>
            <div class="col-lg-6 py-3">
                <div class="img-fluid py-3 text-center">
                    <img src="~/img/about_frame.png" />
                </div>
            </div>
        </div>
    </div>
</div>